.filter {
    margin: 5px 0;
    border: 1px solid #304929;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
}

.filter:hover {
    -webkit-box-shadow: 2px 2px 2px #304929;
    box-shadow: 2px 2px 2px #304929;
}